body {
    background-color: #1f1f1f;
    font-size: 87.5%; /*lai viss ir responsive*/
    color: #544738;
    font-family: helvetica, sans-serif;
    text-align: left;

}

#wrapper {
    margin: 0 auto;
    width: 80%;
    clear: both;
    color: #d9d9d9;
}

#chatBox {
    line-height: 25px;
    border-radius: 5px;
    width: 65%;
    max-height: 50%;
    float: right;
    background-color: #544738;
    border-radius: 5px;
    margin-right: 3%;
    padding: 2% 3%;
}

#content {
    text-align: center;
    width: 16%;
    float: left;
    background-color: #544738;
    border-radius: 5px;
    margin-right: 3%;
    padding: 2% 3%;

}

.users {
    float: left;
    font-weight: bold;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
    padding: 3% 3%;
    margin: 2% 2%;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#addUserForm {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#addUserForm span {
    display: block;
}

.author {
    width: fit-content;
    background-color: #a1ed82;
    margin: 5px;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.text {
    background-color: #c2a00c;
    margin: 10px;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
